@import '../global/colors';
@import '../global/mixins/media';

@import '@styles/animations/hand-rotate';

.tournament {
  margin-bottom: 200px;
  
  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 44px;
  }
  
  &__decor {
    position: relative;
    flex: 0 0 474px;
    align-self: stretch;
  }
  
  &__basis,
  &__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 536px;
    height: 589px;
    transform: translate(-50%, -50%);
  }
  
  &__hand {
    position: absolute;
    right: 50px;
    bottom: -68px;
    width: 174px;
    height: 235px;
    animation: 10s hand-rotate linear both infinite;
    rotate: 39.9deg;
  }
  
  &__overlay {
    mix-blend-mode: color-burn;
  }
  
  &__main {
    flex: 1;
  }
  
  &__heading {
    margin-bottom: 45px;
  }
  
  &__table {
    width: 100%;
    margin-bottom: 34px;
    border-collapse: collapse;
    
    &-row:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
    
    &-label,
    &-value-cell {
      padding-top: 16px;
      padding-bottom: 15px;
    }
    
    &-label {
      width: 306px;
      padding-right: 16px;
      border-right: 1px solid $gray;
      text-align: left;
      
      span {
        opacity: .7;
        font-weight: 400;
      }
    }
    
    &-value-cell {
      padding-left: 16px;
    }
    
    &-description {
      display: none;
      opacity: .7;
      margin-bottom: 12px;
    }
    
    &-value {
      display: flex;
      column-gap: 12px;
      font-weight: 600;
      
      span:not(:last-child) {
        text-decoration: line-through $red;
      }
    }
  }
  
  @include max-media(1240px) {
    &__decor {
      flex-basis: 320px;
    }
    
    &__basis,
    &__overlay {
      width: 357px;
      height: 393px;
    }
    
    &__hand {
      right: 33px;
      bottom: 53px;
      width: 116px;
      height: 157px;
    }
  }
}
