<section class="hero section">
  <div class="hero__image section__container">
    <div class="hero__sun">
      <div class="hero__sun-text">
        <img src="/images/sun-text.svg" alt="">
      </div>
    </div>
    {{> elements/image-element parent='hero' elemName='queen'}}
    {{> elements/image-element parent='hero' elemName='king'}}
    <div class="hero__composition">
      {{> elements/image-element parent='hero' elemName='city'}}
      {{> elements/image-element parent='hero' elemName='board'}}
      {{> elements/image-element parent='hero' elemName='path'}}
    </div>
    {{> elements/image-element parent='hero' elemName='hero-bg' className='background'}}
    {{> elements/image-element parent='hero' elemName='horse'}}
    {{> elements/image-element parent='hero' elemName='front'}}
  </div>
  <div class="hero__container section__container">
    <div class="hero__content">
      <h2 class="hero__heading heading heading_2">
        <span>Превратите уездный город</span>
        <span>в&nbsp;столицу</span>
        <span>земного шара</span>
      </h2>
      <p class="hero__description">
        Оплатите взнос на&nbsp;телеграммы для&nbsp;организации Международного васюкинского турнира по&nbsp;шахматам
      </p>
      <div class="hero__buttons">
        {{> elements/button hrefAttr='#idea' text='Поддержать шахматную&nbsp;мысль' classes='button_primary'}}
        {{> elements/button hrefAttr='#tournament' text='Подробнее о&nbsp;турнире' classes='button_secondary'}}
      </div>
    </div>
  </div>
</section>
