<section class="hero section">
  <div class="hero__image">
    <div class="hero__image-wrapper section__container">
      <div class="hero__sun">
        <div class="hero__sun-text">
          <img src="/images/sun-text.svg" alt="">
        </div>
      </div>
      {{> elements/hero-image-element elemName='queen'}}
      {{> elements/hero-image-element elemName='king'}}
      <div class="hero__composition">
        {{> elements/hero-image-element elemName='city'}}
        {{> elements/hero-image-element elemName='board'}}
        {{> elements/hero-image-element elemName='path'}}
      </div>
    </div>
    {{> elements/hero-image-element elemName='hero-bg' className='background'}}
    {{> elements/hero-image-element elemName='horse'}}
    {{> elements/hero-image-element elemName='front'}}
  </div>
  <div class="hero__container section__container">
    <div class="hero__content">
      <div class="hero__heading heading heading_1">
        <span>Превратите уездный город</span>
        <span>в&nbsp;столицу</span>
        <span>земного шара</span>
      </div>
      <p class="hero__description">
        Оплатите взнос на&nbsp;телеграммы для организации Международного васюкинского турнира по&nbsp;шахматам
      </p>
      <div class="hero__buttons">

      </div>
    </div>
  </div>
</section>
