<div class="idea section" id="idea">
  <div class="idea__wrapper section__container">
    <h4 class="idea__heading heading heading_4">
      <span>Чтобы поддержать Международный васюкинский турнир</span>
      <span>посетите лекцию на&nbsp;тему:</span>
      <span class=" heading_highlighted">&laquo;Плодотворная дебютная идея&raquo;</span>
    </h4>
    {{> elements/image-element parent='idea' elemName='idea' className='image'}}
  </div>
</div>
