<div class="logo">
  <div class="logo__horses">
    {{> elements/logo-icon}}
    {{> elements/logo-icon}}
    {{> elements/logo-icon}}
    {{> elements/logo-icon}}
  </div>
  <p class="logo__text">Клуб четырех&nbsp;коней</p>
</div>
