<div class="members section">
  <div class="members__wrapper section__container">
    <h3 class="members__heading heading heading_3">Участники турнира</h3>
    <div class="members__slider">
      <div class="members__inner slider-wrapper">
        {{#each this.members}}
          {{> member this classes='members__item'}}
        {{/each}}
      </div>
      <div class="members__navigation">
        {{> elements/slider-button prew=true classes='members__slider-button members__slider-button_prew'}}
        <div class="slider-pagination members__pagination"></div>
        {{> elements/slider-button prew=false classes='members__slider-button members__slider-button_next'}}
      </div>
    </div>
  </div>
</div>
